.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadingDots {
  width: 60px;
  aspect-ratio: 4;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
