.mainContainer {
  padding: 1rem 3rem;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.accordionDetails {
  margin: auto;
  max-width: 800px;
  width: 100%;
}
.loadingWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 100px;
}

.accordionContainer.accordionContainer {
  margin: 0px;
  box-shadow: none;
  border-radius: 15px;
  padding: 2rem;
  width: 100%;
  background-color: white;
}



@media (max-width: 600px) {
  .mainContainer {
    padding: 0.5rem;
  }
  .accordionContainer {
    padding: 0.25rem;
  }

}
@media (min-width: 601px) and (max-width: 1024px) {
  .mainContainer {
    padding: 1rem;
  }
  .accordionContainer {
    padding: 0.75rem;
  }

}

.accordionContainer:first-of-type {
  border-radius: 15px;
}
.accordionContainer::before {
  display: none;
}

.launchContainer{
  background-color: white;
}