.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  justify-content: space-between;
  z-index: 1300; /* Ensure header is above main content */
}

.userInfo {
  position: relative; /* Create positioning context for dropdown */
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 3.5rem;
}

.userInfoRtl {
  position: relative; /* Create positioning context for dropdown */
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 3.5rem;
}

.imageContainer {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 3.5rem;
}

.imageContainerRtl {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 3.5rem;
}
