.tooltipContainer {
  display: flex;
  align-items: center;
}

.iconButton {
  cursor: pointer;
  border-radius: 50%;
}

.iconButton:hover {
  color: #fff;
}

.textPreLine{
  white-space: pre-line;
  word-break: break-word;
}