.textDescription {
  max-width: 100%;
  margin-top: 8px;
}

.titleRow {
  display: block;
  justify-content: space-between;
  align-items: center;
  box-align: center;
  margin: 24px;
  flex-wrap: wrap;
  box-pack: justify;
}

.groupHeader {
  padding: 1rem;
}

.topLevel {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 320px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 10px;
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px var(--qlarr-shadow-color);
  background-color: var(--qlarr-bg-color);
}

@media (min-width: 600px) {
  .topLevel {
    padding: 1rem 0rem 0rem 0rem;
  }
}