.surveyContent {
  margin: 0;
}

.surveyGroups {
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.surveyLogoWrapper {
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  align-items: center;
}

.surveyLogo {
  display: block;
  object-fit: contain;
}

.cardImage {
  max-height: 22.5vw;
  height: 160px;
  margin: 12px auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-radius: 8px;
}


.stepperContent {
  position: absolute;
  background-color: white;
  width: 400px;
  padding: 1rem;
  border-radius: 0px 8px 8px 0px;
  height: 700px;
  overflow: auto;
  margin-top: 3rem;
}

.menuButton.menuButton {
  position: fixed;
}