.themingItem h6 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.themingItem .themingItemBody {
  display: flex;
}

.themingItem .themingItemBody div:nth-child(1) {
  flex-grow: 1;
}
.selectDropdown.selectDropdown {
  color: #16205b;
  font-weight: 600;
  border-radius: 15px;
}
