.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.addAnswerIcon {
  scale: 2;
}

.overlay {
  z-index: 1;
  position: absolute;
  inset: 0;
  opacity: 0.6;
  pointer-events: none;
}

.loadingContainer {
  text-align: center;
  float: right;
  width: 100%;
  margin-top: 24px;
}

.addAnswerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.addButtonBox {
  height: var(--qlarr-cell-height);
  border-radius: 4px;
  background-color: var(--qlarr-bg-default);
  width: 100%;
}

.dragging {
  opacity: 0.2;
}

.gridItemHeight {
  min-height: var(--qlarr-cell-height);
}

.iconCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.svgContainer > svg {
  width: 100%;
  height: 100%;
}
