.sectionTitle {
  font-size: 16px;
  font-weight: bold;
}

.rightContent {
  width: 100%;
  overflow-y: auto;
  background-color: white;
  height: calc(100vh - 64px);
}

.tabContainer :global(.MuiTabs-scrollButtons.Mui-disabled) {
  opacity: 0.3;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tabStyle {
  margin: 0 !important;
}

.setupContainer {
  padding: 8px 16px 16px;
}
