.answerAdd {
  display: flex;
  align-items: baseline;
  padding-left: 18px;
  justify-content: flex-end;
  gap: 0.5rem;
}

.questionItem {
  display: flex;
  flex-direction: column;
}

.choicesContainer {
  display: flex;
  flex-direction: column;
}
