.answerItem {
  display: flex;
  align-items: center;
  min-height: 40px;
  /*margin-bottom: 15px;*/
  transition: all 200ms;
  height: auto;
  position: relative;
}

.answerIcon {
  display: flex;
}

.answerItem .answerIcon:hover {
  cursor: pointer;
}

.answerItem .answerIconSettings {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  align-self: center;
  margin-right: 10px;
}
.answerItem:hover .answerIconSettings {
  opacity: 1;
}

.answerItem .answerIconOther:hover {
  cursor: pointer;
}

.answerItem .answerNumberOrder {
  width: 30px;
  text-align: center;
}

.answerItem .answerControl {
  margin-left: 7px;
  width: calc(100% - 88px);
}

.answerItem .answerControlRtl {
  margin-right: 7px;
  width: calc(100% - 88px);
}

.answerItem .answerControlOther {
  margin-left: 7px;
  width: calc(100% - 140px);
}

.answerItem .answerControlOtherRtl {
  margin-right: 7px;
  width: calc(100% - 140px);
}

.answerItem .answerOtherControl {
  margin-left: 43px;
  width: 50%;
}

.smallIcon {
  font-size: 18px;
}

.textFieldOther :global(.MuiInputBase-input) {
  color: var(--qlarr-text-disabled);
}

.textFieldOtherHighlight :global(.MuiInputBase-root) {
  background-color: var(--qlarr-contrast-color);
}

.textFieldInert {
  flex: 2;
  pointer-events: none;
}
