.addAnswerIcon {
  scale: 2;
}

.questionItem{
  overflow: hidden;
  padding-top: 16px;
}

.addAnswerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--qlarr-spacing);
}

.flexItem {
  flex: var(--qlarr-item-flex);
  max-width: var(--qlarr-item-max-width);
}
