.imageContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.overlay {
  z-index: 1;
  position: absolute;
  inset: 0;
  opacity: 0.6;
  pointer-events: none;
}

.buttonContainersAbsolute {
  position: absolute;
  top: 0;
}

.addAnswerIcon {
  scale: 2;
}

.loadingContainer {
  top: 50%;
  left: 50%;
  position: absolute;
}

.addAnswerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.addButtonBox {
  position: relative;
  width: 100%;
  padding-top: var(--qlarr-aspect-padding);
  background-color: var(--qlarr-bg-default);
  border-radius: 4px;
}

.addButtonOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragging {
  opacity: 0.2;
}

.imageContainerDynamic {
  padding-top: var(--qlarr-aspect-padding);
  background-image: var(--qlarr-bg-image);
}

.clickableImage {
  cursor: pointer;
}
