.mainContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formControlCheckBox {
  display: flex;
  flex-direction: column;
}
.flexContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
