.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vw - 80px);
  overflow: auto;
  width: 100vw;
  background-color: #f7f8fc;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #ffffff;
  text-align: center;
  padding: 3.75rem;
}
.resetBox {
  width: 100%;
  max-width: 44rem;
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  .content {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 1rem;
  }
}

.errorText {
  color: #eb5757 !important;
}
.resetButton.resetButton {
  background-color: #04bdf3;
  color: #fff;
  border-radius: 13px;
  padding: 12px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
}
.resetButton:hover.resetButton {
  background-color: #039ec4;
}
