
.actionButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.publishContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.copyButton {
  gap: 0.5rem;
}
