.choicesContainer {
  display: flex;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 16px;
  justify-content: space-between;
  overflow: auto;
}

.choice {
  padding: 8px;
  width: 100%;
  margin: 1px;
  font-weight: bold;
  font-size: larger;
  border: 1px solid;
  text-align: center;
  background-color: var(--qlarr-bg-paper);
}

.choiceSelected {
  composes: choice;
  color: var(--qlarr-highlight-contrast);
  background-color: var(--qlarr-primary);
}

.choiceLabels {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .choice {
    padding: 4px;
  }
}
