.placeholder {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}

.optionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.optionCard {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 16px !important;
  background-color: #dfe2ef !important;
  border-radius: 8px !important;
  text-align: left !important;
  cursor: pointer !important;
}

.optionCard:hover {
  background-color: #ebebeb !important;
}

.cardIcon {
  color: #555;
}

.cardTitle {
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  color: #212121;
}

.cardHint {
  font-size: 0.75rem !important;
  opacity: .7;
  line-height: 1.4 !important;
  padding: 0 4px !important;
}

.imageContainer {
  padding: 1em;
  text-align: center;
}

.largerText {
  font-size: larger;
}

.alertMarginBottom {
  margin-bottom: 8px;
}

.autocompleteMarginTop {
  margin-top: 8px;
}

.textFieldHalf {
  width: 50%;
}

.textFieldMarginBottom {
  margin-bottom: 12px;
}

.autocompleteResponsive {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 600px) {
  .autocompleteResponsive {
    width: 50%;
  }
}
