.questionItem {
  margin-bottom: 15px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .questionItem {
    width: 100%;
  }
}

.designTextField :global(.MuiInputBase-input) {
  color: var(--qlarr-text-disabled);
}

.noPointerEvents {
  pointer-events: none;
}
