.surveyHeader {
  background-color: #16205b;
  position: relative;
  width: 3.5rem;
  z-index: 9999;
  height: 100vh;
}

.icon {
  height: 1em;
  width: 1em;
}
.launchContainer {
  position: relative;
}
.unpublishedChangesDot {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 8px;
  height: 8px;
  background-color: #ff0000;
  border-radius: 50%;
  border: 1px solid white;
}
