.savingProgress {
  margin: 0px 8px !important;
  width: 16px !important;
  height: 16px !important;
}

.snackBar {
  /* rtl:ignore */
  left: 56px !important;
  /* rtl:ignore */
  right: auto !important;
}
