.textDescriptionContent {
  display: flex;
  align-items: center;
  margin-top: 12px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.moveBox {
  position: absolute;
  top: 4px;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
}

.groupQuestion {
  position: relative;
  padding: 2rem;
  border-radius: 0px;
  page-break-inside: avoid;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  cursor: default;
}

.groupQuestionLast {
  position: relative;
  padding: 2rem;
  border-radius: 0px 0px 12px 12px;
  page-break-inside: avoid;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  cursor: default;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--qlarr-question-font-size);
}

.titleQuestion {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}

.titleQuestion h3 {
  width: auto;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #16205b;
  font-weight: bold;
}

@keyframes fadeInMoveRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.actionToolbarVisible {
  width: 100%;
  animation: fadeInMoveRight 0.75s ease-out forwards;
}

.contentContainer.contentContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.moveBox {
  pointer-events: auto;
}

.highlight {
  animation: fadeHighlight 3s ease-in-out;
  background-color: rgba(
    245,
    245,
    220,
    0.7
  ); /* Beige with partial transparency */
}

.questionSetup {
  background-image: linear-gradient(var(--qlarr-contrast-color), var(--qlarr-contrast-color));
  color: var(--qlarr-text-color);
  outline: solid 3px var(--qlarr-outline-color);
  outline-offset: -3px;
}

.questionHovered {
  background-image: linear-gradient(var(--qlarr-hover-color), var(--qlarr-hover-color));
  color: var(--qlarr-text-color);
  outline: solid 1px var(--qlarr-outline-color);
  outline-offset: -1px;
}

.questionDragging {
  opacity: 0.2;
  border: dotted 1px var(--qlarr-contrast-color);
}

@keyframes fadeHighlight {
  0% {
    background-color: rgba(
      245,
      245,
      220,
      0.7
    ); /* Start with semi-transparent beige */
  }
  100% {
    background-color: rgba(
      245,
      245,
      220,
      0.2
    ); /* Fade to even more transparent beige */
  }
}
