.content {
  width: 100%;
  margin: 0;
  letter-spacing: 0.1px;
}

.content.question {
  margin-bottom: 4px;
}

.content .required {
  margin-left: 5px;
}

.header {
  margin-bottom: 12px;
}

.textDescription {
  max-width: 100%;
  margin-bottom: 4px;
}

.groupQuestion {
  padding: 16px;
  border-radius: 6px;
  page-break-inside: avoid;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 0;
  overflow: hidden;
}

@media (min-width: 600px) {
  .groupQuestion {
    padding: 2rem;
  }
}
