.toggleValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputValue {
  max-width: 80%;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
